<!DOCTYPE html>
<html>
	<head>
		<title>{$myalbum_name}</title>
		<link rel="shortcut icon" href="__PUBLIC__/Album-Main/icon/favicon.ico" />
		<link rel="Bookmark" href="__PUBLIC__/Album-Main/icon/favicon.ico" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="__PUBLIC__/Album-Main/css/main.css" />
		<!--[if lte IE 8]>
			<script src="__PUBLIC__/Album-Main/js/ie/html5shiv.js"></script>
		<![endif]-->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="__PUBLIC__/Album-Main/css/ie9.css" />
		<![endif]-->
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="__PUBLIC__/Album-Main/css/ie8.css" />
		<![endif]-->
	</head>

	<body>
		<!-- Wrapper -->
		<div id="wrapper"> 
			<!-- Header -->
			<header id="header">
				<div class="inner"> 
					<!-- Logo --> 
					<a href="__ROOT__" class="logo">
						<span class="symbol"><img src="__PUBLIC__/Album-Main/icon/favicon.ico" alt="" /></span>
						<span class="title">{$myalbum_nickname}</span>
					</a> 
					<!-- Nav -->
					<nav>
						<ul>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<!-- Menu -->
					<nav id="menu">
						<h2>站点导航</h2>
						<ul><foreach name="navibar" item="vo"><li><a href="{$vo.link}">{$vo.navi}</a></li></foreach></ul>
					</nav>
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<header>
						<h1>{$myalbum_name}<br/></h1>
						<p>{$myalbum_saying}</p>
						</h2>
					</header>
					<section class="tiles">
						<foreach name="cover" item="vo">
							<article class="style{$vo.style}">
								<span class="image"><img src="{$vo.coveraddr}" alt=""/></span>
								<a href="__ROOT__/?c=sub&cid={$vo.cid}">
									<h2>{$vo.name}</h2>
									<div class="content">
										<p>{$vo.inst}</p>
									</div>
								</a>
							</article>
						</foreach>
					</section>
				</div>
			</div>
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; {$myalbum_thisyear} {$myalbum_copyright} All rights reserved</li>
						<li>Design by : {$myalbum_author}</li>
					</ul>
				</div>
			</footer>
		</div>
		<!-- Scripts --> 
		<script src="__PUBLIC__/Album-Main/js/jquery.min.js"></script> 
		<script src="__PUBLIC__/Album-Main/js/skel.min.js"></script> 
		<script src="__PUBLIC__/Album-Main/js/util.js"></script> 
		<!--[if lte IE 8]>
			<script src="__PUBLIC__/Album-Main/js/ie/respond.min.js"></script>
		<![endif]--> 
		<script src="__PUBLIC__/Album-Main/js/main.js"></script>
	</body>
</html>