<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{$myalbum_name}-后台登录系统</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <link rel="stylesheet" href="__PUBLIC__/Album-Admin/css/l&r.css">
        <link rel="stylesheet" href="__PUBLIC__/FontAwesome/css/font-awesome.min.css">
        <script src="__PUBLIC__/Album-Admin/js/md5.js"></script>
        <script src="__PUBLIC__/Album-Admin/js/app.js"></script>
    </head>
    <body>
        <div id="main" class="app-main">
            <div class="login">
                <div class="login-con">
                    <div class="ivu-card transparent">
                        <div class="ivu-card-head">
                            <p class="card-head">
                                <i class="fa fa-id-card fa-fw card-head-icon"></i>{$myalbum_name}管理系统-登录
                            </p>
                        </div>
                        <div class="ivu-card-body">
                            <div class="form-con">
                                <form class="ivu-form ivu-form-label-right">
                                    <div class="ivu-form-item ivu-form-item-required">
                                        <div class="ivu-form-item-content">
                                            <div class="ivu-input-wrapper ivu-input-type ivu-input-group ivu-input-group-with-prepend">
                                                <div class="ivu-input-group-prepend" style="width:20px">
                                                    <span><i class="fa fa-user fa-fw"></i></span>
                                                </div>
                                                <i class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i><input id="user" autocomplete="off" type="text" placeholder="请输入用户名" class="ivu-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ivu-form-item ivu-form-item-required">
                                        <div class="ivu-form-item-content">
                                            <div class="ivu-input-wrapper ivu-input-type ivu-input-group ivu-input-group-with-prepend">
                                                <div class="ivu-input-group-prepend">
                                                    <span><i class="fa fa-key fa-fw"></i></i></span>
                                                </div>
                                                <i class="ivu-icon ivu-icon-load-c ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i><input id="pswd" autocomplete="off" type="password" placeholder="请输入密码" class="ivu-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ivu-form-item">
                                        <div class="ivu-form-item-content">
                                            <button type="button" class="ivu-btn ivu-btn-primary ivu-btn-long" onclick="postlogin()" data-vivaldi-spatnav-clickable="1"><span>登录</span></button>
                                        </div>
                                    </div>
                                </form>
                                <p class="login-tip" style="display: {$myalbum_regStatus}">
                                    <a href="./admin.php?c=Register">还没有账户？点我注册</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="__PUBLIC__/Album-Admin/js/l&r.js"></script>
    </body>
</html>