<!DOCTYPE HTML>
<html>
	<head>
		<title>相册-{$cover_name}</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="{$myalbum_icon}">
		<link rel="Bookmark" href="{$myalbum_icon}">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="__PUBLIC__/Album-Sub/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="__PUBLIC__/Album-Sub/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="__PUBLIC__/Album-Sub/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="__PUBLIC__/Album-Sub/css/ie9.css" /><![endif]-->
		<noscript>
			<link rel="stylesheet" href="__PUBLIC__/Album-Sub/css/noscript.css" />
		</noscript>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">
		<!-- Main -->
		<div id="main"> 
			<!-- Header -->
			<header id="header">
				<h1><a href="index">{$cover_name}</a></h1>
				<p>{$cover_inst}</p>
			</header>

			<!-- Thumbnail -->
			<section id="thumbnails">
				<foreach name="content" item="vo">
					<article>
						<a class="thumbnail" href="{$vo.preimg}" data-position="left center">
							<img src="{$vo.bigimg}" alt="" />
						</a>
						<h2>{$vo.name}</h2>
						<p>{$vo.inst}</p>
					</article>
				</foreach>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; {$myalbum_thisyear} {$myalbum_copyright} All rights reserved</li><br>
					<li>Design by : {$myalbum_author}</li>
				</ul>
			</footer>
		</div>

		<!-- Scripts --> 
		<script src="__PUBLIC__/Album-Sub/js/jquery.min.js"></script> 
		<script src="__PUBLIC__/Album-Sub/js/skel.min.js"></script> 
		<!--[if lte IE 8]><script src="__PUBLIC__/Album-Sub/js/ie/respond.min.js"></script><![endif]--> 
		<script src="__PUBLIC__/Album-Sub/js/main.js"></script>
	</body>
</html>